/* Global Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* all elements with fonts are this font by default */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* all anchor tags by default */
a {
  text-decoration: none;
  color: black;
}

/* table and footer links color */
table a,
footer a {
  color: blue;
}

/* body background color, and centering */
body {
  background-color: lightcyan;
  text-align: center;
  font-family: inherit;
}

/* Skip to main content positioning */
body > a {
  position: absolute;
  top: -30px;
  left: 0;
  color: white;
  background-color: black;
  font-weight: bold;
}

/* brings skip to content to focus */
body a:focus {
  top: 5px;
  left: 5px;
}

/* General Text Styling */
h1,
h2 {
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin: 10px 0;
}

h2 {
  font-size: 1.1em;
  margin: 20px 0 5px 0;
}

/* Navigation Styles */
nav ul {
  padding: 0;
  text-align: center;
}

/* pointer on all links in list items */
nav ul li {
  cursor: pointer;
}

/* list items increase font when hovered with mouse */
nav ul li:hover {
  font-size: 1.1em;
}

/* adds margin to top of submenu [mens teamn, womens team] dropdowns */
nav ul li .submenu {
  margin-top: 12px;
}

/* Menu Button */
#menu-button {
  background-color: #333;
  width: 100%;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid black;
  font-size: 16px;
  display: block;
  font-weight: bold;
}

/* Menu button hover effects */
#menu-button:hover {
  background-color: #111;
}

/* Menu Styles */
#menu {
  list-style: none;
  display: none;
  background-color: #444;
  padding: 0;
  line-height: 1;
}

/* Menu [Home page, mens team, womens team] menu open */
#menu.show {
  display: block;
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* menu list item styling */
#menu li {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid #555;
  width: 100%;
}

/* menu last child [womens team] no border on bottom */
#menu li:last-child {
  border-bottom: none;
}

/* menu list items hover effects */
#menu li:hover {
  background-color: #111;
}

/* menu list item last child [womens team] hover affect */
#menu li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* turns athlete link boxes to a lighter grey background when hovering, allows the box being hovered to turn darker black */
.submenu.show:hover {
  background-color: #333;
}

/* menu list item anchor tags */
ul#menu li a {
  color: white;
}

/* submenu styling [athlete menus] */
.submenu {
  display: none;
  max-height: 33vh;
  overflow-y: auto;
  border: 1px solid white;
  margin-top: 10px;
}

/* displays submenu */
.submenu.show {
  display: block;
}

/* team button stying [mens team, womens team] */
button.team {
  border: none;
  background-color: inherit;
  color: white;
  width: 100%;
  cursor: pointer;
}

/* Image Styling */
img {
  display: block;
  width: 90%;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  box-shadow: 0 3px 8px black;
}

/* Table Styling */
table {
  width: 90%;
  margin: auto;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: separate;
  box-shadow: 0 3px 8px black;
  border-radius: 5px;
}

/* table head[th] and table data [td] styling */
th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  width: 50%;
}

/* table head [th] element styling */
thead th {
  background-color: #444;
  color: white;
  font-weight: bold;
}

/* Rounded Corners for Tables */
thead th:first-child {
  border-top-left-radius: 5px;
}

thead th:last-child {
  border-top-right-radius: 5px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/* Athlete Table Specific */
#athlete-table thead th:nth-child(3) {
  border-top-right-radius: 5px;
}

#athlete-table tbody tr:last-child td:nth-child(3) {
  border-bottom-right-radius: 5px;
}

/* Alternate Table Row Colors */
tbody tr:nth-child(even) {
  background-color: lightblue;
}

tbody tr:nth-child(odd) {
  background-color: lightyellow;
}

/* remove 4th column from table for mobile version */
table#athlete-table thead tr th:nth-child(4) {
  display: none;
  border: none;
}

/* remove 4th column from table for mobile version */
table#athlete-table tbody tr td:nth-child(4) {
  display: none;
  border: none;
}

/* make table head sticky when scrolling farther down screen */
table#athlete-table thead {
  position: sticky;
  top: 0;
}

/* Footer Styling */
footer {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Home Page Styling */

/* header 1 styling */
.index-h1 {
  margin-top: 15px;
}

/* skyline image styling */
.logo {
  width: 50%;
  margin-top: 15px;
  border-radius: 10%;
  border: 3px solid;
}
